[submodule "Health-Plus-main/Telemed"]
	path = Health-Plus-main/Telemed
	url = https://github.com/pujakarakoti07/HealthPlus.git
[submodule "MainHealthPlus/Telemed"]
	path = MainHealthPlus/Telemed
	url = https://github.com/pujakarakoti07/HealthPlus.git
[submodule "Medicare/Telemed"]
	path = Medicare/Telemed
	url = https://github.com/pujakarakoti07/HealthPlus.git
[submodule "MediCare/Telemed"]
	path = MediCare/Telemed
	url = https://github.com/pujakarakoti07/HealthPlus.git
